xterm*VT100.Translations: #override \
    Shift <KeyPress> Insert: insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>C:    copy-selection(CLIPBOARD) \n\
    Ctrl <Btn1Up>: exec-formatted("xdg-open '%t'", PRIMARY)
xterm*faceName: ProFont for Powerline
xterm*faceSize: 10
xterm*renderFont: true
xterm*saveLines: 16384
!xterm*eightBitInput: false
xterm*termName: xterm-256color
!*transparent: true
!*shading: 10
!*.transparent: true
!*.shading: 10
URxvt.font:                     xft:ProFont for Powerline:autohint=true:size=10
URxvt.boldFont:                 xft:ProFont for Powerline:autohint=true:bold:size=10
URxvt.italicFont:               xft:ProFont for Powerline:autohint=true:italic:size=10
URxvt.boldItalicFont:           xft:ProFont for Powerline:autohint=true:bold:italic:size=10
! do not scroll with output
URxvt*scrollTtyOutput: false

! do not show scroll bar
URxvt*scrollBar: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! font spacing reduced by 1
URxvt.letterSpace: -1

!If you wish to copy into PRIMARY selection and also ensure that your CLIPBOARD selection is updated with the same contents, you may add the following:

URxvt.perl-ext-common:  ...,clipboard,...

!and

URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste

!You can make URLs in the terminal clickable using the matcher extension. For example, to open links in the default web browser with the left mouse button, add the following to .Xresources:

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

!For the Ctrl+Shift bindings to work, a default binding needs to be disabled (see discussion here):

URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt*depth: 32

!! Colors 0-15.
!*.color0: #0b1c2c
!*color0:  #0b1c2c
!*.color1: #bf8b56
!*color1:  #bf8b56
!*.color2: #56bf8b
!*color2:  #56bf8b
!*.color3: #8bbf56
!*color3:  #8bbf56
!*.color4: #8b56bf
!*color4:  #8b56bf
!*.color5: #bf568b
!*color5:  #bf568b
!*.color6: #568bbf
!*color6:  #568bbf
!*.color7: #cbd6e2
!*color7:  #cbd6e2
!*.color8: #627e99
!*color8:  #627e99
!*.color9: #bf8b56
!*color9:  #bf8b56
!*.color10: #56bf8b
!*color10:  #56bf8b
!*.color11: #8bbf56
!*color11:  #8bbf56
!*.color12: #8b56bf
!*color12:  #8b56bf
!*.color13: #bf568b
!*color13:  #bf568b
!*.color14: #568bbf
!*color14:  #568bbf
!*.color15: #f7f9fb
!*color15:  #f7f9fb
!
!! X colors.
!! Generated by 'wal'
!*foreground:        #cbd6e2
!*background:        #0b1c2c
!*.foreground:       #cbd6e2
!*.background:       #0b1c2c
!emacs*foreground:   #cbd6e2
!emacs*background:   #0b1c2c
!URxvt*foreground:   #cbd6e2
!XTerm*foreground:   #cbd6e2
!UXTerm*foreground:  #cbd6e2
!URxvt*background:   [90]#0b1c2c
!XTerm*background:   #0b1c2c
!UXTerm*background:  #0b1c2c
!URxvt*cursorColor:  #cbd6e2
!XTerm*cursorColor:  #cbd6e2
!UXTerm*cursorColor: #cbd6e2
!URxvt*borderColor:  [90]#0b1c2c

*background:	#1F1F1F
*foreground:	#E0E0E0
*.background:	#1F1F1F
*.foreground:	#E0E0E0

URxvt*background:[90]#1F1F1F
URxvt*foreground:[90]#E0E0E0
URxvt*borderColor:[90]#1F1F1F

*cursorColor:	#FFFFFF
*color0:	#1D1D1D
*color1:	#FF3C82
*color2:	#B5FF3D
*color3:	#FF993A
*color4:	#9746FF
*color5:	#3D5FFF
*color6:	#3EE8FF
*color7:	#B4B4B4
*color8:	#4A4A4A
*color9:	#FF80AE
*color10:	#CFFF81
*color11:	#FFE885
*color12:	#BA83FF
*color13:	#8499FF
*color14:	#83F0FF
*color15:	#DADADA

*.cursorColor:	#FFFFFF
*.color0:	#1D1D1D
*.color1:	#FF3C82
*.color2:	#B5FF3D
*.color3:	#FF993A
*.color4:	#9746FF
*.color5:	#3D5FFF
*.color6:	#3EE8FF
*.color7:	#B4B4B4
*.color8:	#4A4A4A
*.color9:	#FF80AE
*.color10:	#CFFF81
*.color11:	#FFE885
*.color12:	#BA83FF
*.color13:	#8499FF
*.color14:	#83F0FF
*.color15:	#DADADA

URxvt*cursorColor:	#FFFFFF
URxvt*color0:	#1D1D1D
URxvt*color1:	#FF3C82
URxvt*color2:	#B5FF3D
URxvt*color3:	#FF993A
URxvt*color4:	#9746FF
URxvt*color5:	#3D5FFF
URxvt*color6:	#3EE8FF
URxvt*color7:	#B4B4B4
URxvt*color8:	#4A4A4A
URxvt*color9:	#FF80AE
URxvt*color10:	#CFFF81
URxvt*color11:	#FFE885
URxvt*color12:	#BA83FF
URxvt*color13:	#8499FF
URxvt*color14:	#83F0FF
URxvt*color15:	#DADADA

!urxvt transparency #fake!!
!URxvt*bg: rgba:0000/0000/0200/AAAA
!URxvt.color12: rgb:55/6F/FF

